<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">Jazz Music Library</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      Jazz music is a genre that originated in the early 20th century, characterized by improvisation, syncopated rhythms, and a blend of African and European musical traditions.
    </p>
    <LinkTo @route="contact" type="button" class="btn btn-primary btn-lg">Contact Us</LinkTo>
  </div>
</div>